* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
	background-color: #2A3235;
}

h2 {
	display: block;
	color: #2A3235;
	text-align: center;
	vertical-align: middle;
	font-size: 100%;
	padding-top: 0%;
	margin-left: auto;
	margin-right: auto;
}

.new-center {
	position: relative;
	text-align: center;
	margin: 5em 0;
}

.logo {
	margin-top: 0%;
	margin-bottom: 5em;
	border-radius: 50%;
}

.button {
	background-color: whitesmoke;
	border: none;
	border-radius: 5em;

	color: #2A3235;

	font-size: 200%;
	font-weight: bold;

	min-width: 10em;
	max-width: 20em;
	width: 50%;
	height: 3em;

	display: block;

	align-items: center;
	text-align: center;
	vertical-align: middle;

	margin: 0 auto;

	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	position: relative;

	--bg-color: red;
}

.middle {
	margin: 2em auto;
}

.button.button-bg-slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: var(--bg-color);
	border-radius: 5em;

	transition: transform 150ms ease-in-out;
	transform: scaleX(0);
	transform-origin: center;
}

.button.button-bg-slide:hover::before {
	transform: scaleX(1);
}

.button.button-bg-slide {
	z-index: 1;
}
